.input {
  border: 0;
  border-bottom: 1px solid #808080;
  margin: 20px;
  width: 200px;
  outline: none;
  background: none;
}

.input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: .4;
}